body {
  margin: 0%;
  /* text-align: start; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  flex-grow: 2;
}

.row {
  flex-grow: 2;
}

.empty-column {
  flex-grow: 2;
}

.empty-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.1em solid rgb(34, 31, 31);
  border-radius: 1em;
  padding: 0.2em 4rem;
}

.card {
  border: 0.1em solid rgb(34, 31, 31);
  border-radius: 1em;
  padding: 0.2em;
}

.text {
  font-size: 0.8em;
}

.container {
  display: flex;
  flex-grow: 4;
  gap: 1em;
  background-color: rgb(43, 43, 68);
  color: rgb(145, 139, 139);
  padding: 2em;
}

.main-image {
  height: 15em;
  overflow: hidden;
}

.icon-uber {

  height: 20px;
  width: 20px;
  /* overflow: hidden; */
}

.icon-image {
  padding: 0.5em;
}
